name: Kernel Compile

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
  
  # Triggers the workflow thru GitHub API
  repository_dispatch:
  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:

      # Runs a single command using the runners shell
      - name: Install Deps
        if: ${{ always() }}
        run: |
          sudo apt-get install wget -y && sudo wget https://raw.githubusercontent.com/akhilnarang/scripts/master/setup/android_build_env.sh && sudo bash android*
      # Runs a set of commands using the runners shell
      - name: Checkout Repo
        if: ${{ always() }}
        uses: actions/checkout@v2
          
      - name: Checkout Repo
        if: ${{ always() }}
        uses: actions/checkout@v2
        with:
          repository: ghostrider-reborn/android_kernel_xiaomi_ginkgo
          path: kernel
          
      - name: Build
        if: ${{ always() }}
        run: cd kernel && sudo bash build.sh
        
      - name: Upload
        if: ${{ always() }}
        run: ls && cd kernel && curl --upload-file ./QuicksilveRV2-ginkgo*.zip http://transfer.sh/kernel.zip
      
      - name: copy zip out
        if: ${{ always() }}
        run: cp kernel/*.zip . 
        
      - name: remove kernel folder
        if: ${{ always() }}
        run: sudo rm -rf kernel
          
      - name: Post a Github Release
        run: hub release create -a *.zip -m 'Kernel Build' $(date +%s)
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
